body {
  background: #ddefee;
  font-family: 'Lato', sans-serif;
}
.news-form {
  padding-top: 12px;
}
.news-form .form-control {
  display: inline-block;
  width: 150px;
}
.story-item {
  width: 25%;
  padding: 10px 10px 20px 10px;
}
.story-item__content {
  border: 1px solid #c0d6d5;
  text-align: center;
}
.story-item__image {
  width: 100%;
}
.story-item__image-container {
  height: 100px;
  overflow: hidden;
}
.story-item {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 15px;
}
.story-item__image {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
}
.story-item__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  background: white;
  overflow: hidden;
  height: 56px;
}

/*# sourceMappingURL=app.css.map */
