@borderColor:  #c0d6d5;

body {
    background: #ddefee;
    font-family: 'Lato', sans-serif;
}

.news-form {
    padding-top: 12px;
    .form-control {
        display: inline-block;
        width: 150px;
    }
}

.story-item {
    width: 25%;
    padding: 10px 10px 20px 10px;
    &__content {
        border: 1px solid @borderColor;
        text-align: center;
    }
    &__image {
        width: 100%;
    }
    &__image-container {
        height: 100px;
        overflow: hidden;
    }
}

.story-item {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 15px;
    &__image {
        height: 200px;
        max-width: 100%;
        margin: 0 auto;
    }
    &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
        padding: 10px;
        background: white;
        overflow: hidden;
        height: 56px;
    }
}